@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url('https://wallpapers.com/images/hd/sun-background-x221d0duiduapg9g.jpg');
    background-repeat: no-repeat;
    background-size:cover;

}
.header{
    height:11vh;
    border:none;
    background-color:transparent;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40%;
}
.navbar a{
    color:white;
    text-decoration: none;
    margin-left:30px;
    font-size: 20px;
    font-family: 'Valera-Round',sans-serif;
}
.search{
    width:60%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 390px;
}
.search input{
    height:35px;
    width:205px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    border-right: transparent;
}
.search input::placeholder{
    padding-left: 5px;
    color:white;
}
.search button{
    height:38.3px;
    width:54px;
    outline: none;
    border: 2px solid white;
    background-color: transparent;
    color:white;
    border-left: transparent;
    border-top-right-radius:6px;
    border-bottom-right-radius: 6px;
}
.container{
    height:88vh;
    width:99.5vw;
    border:1px solid black;
    position: relative;
    top: 87px;
    display:flex;
    justify-content: center;
    align-items: center;
    border:none;

}
.cont{
    height:600px;
    width:1100px;
    border:1px solid black;
    display: flex;
    flex-direction: row;
    border-radius:10px;
    border:none;
    background-image: url('https://wallpapers.com/images/hd/sun-background-x221d0duiduapg9g.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}
.box{
    height:100%;
    width:70%;
    border:1px solid black;
    background-color:transparent;
    color:white;
    border:none;
    
    display: flex;
    border-right: transparent;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
    flex-direction: column;
}
.text{
    width:100%;
    height:40%;
    position: relative;
    top:60px;
    display: flex;
    justify-content: left;
    align-items: top;
    padding-left: 40px;
    padding-top: 20px;
}
.para{
 padding-left: 40px;
}
.para h1{
    font-size: 50px;
}
.para h2{
    font-size:50px;
}

.icons{
    padding-left:40px;
    padding-top: 30px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: left;
    width:28%;
}
.icons a{
    color:white;
}
.box2{
    width:50%;
    height: 100%;
    background-color: transparent;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-left: transparent;
    border:none;
}
#login{
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    align-items: end;
    
}
#login h1{
    color:white;
    padding-left: 40px;
}
.empty{
    height: 10%;
    width: 100%;
}
.email{
    width: 70%;
    height: 12%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 80px;
    color:white;
}
.password{
   width:70%; 
   height:12%;
   display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    padding-left: 80px;
}
.checkbox{
    width:70%; 
   height:5%;
   display: flex;
   justify-content: space-between;
   flex-direction: row;
    color:white;
    padding-left: 80px;
}
.checkbox  a{
   color: white;
   text-decoration: none;
}
.btn{
    width:70%; 
   height:12%;
   display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    color:white;
    
}
.btn button{
    width:110%;
    height:65%;
    background-color:#fc0579;
    outline: none;
    border:none;
    border-radius: 6px;
    font-size: 20px;
}
.email input{
    border:none;
    background-color: transparent;
    border-bottom: 2px solid white;
    color:white;
    outline: none;
}
.password input{
    border:none;

    background-color: transparent;
    border-bottom: 2px solid white;
    color:white;
    outline: none;
}